.elementor-36 .elementor-element.elementor-element-1a57835 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --overlay-opacity: 0.25;
    --margin-top: -80px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-1a57835 .elementor-background-slideshow__slide__image {
    background-size: cover;
    background-position: center center;
}

.elementor-36 .elementor-element.elementor-element-1a57835::before,
.elementor-36 .elementor-element.elementor-element-1a57835>.elementor-background-video-container::before,
.elementor-36 .elementor-element.elementor-element-1a57835>.e-con-inner>.elementor-background-video-container::before,
.elementor-36 .elementor-element.elementor-element-1a57835>.elementor-background-slideshow::before,
.elementor-36 .elementor-element.elementor-element-1a57835>.e-con-inner>.elementor-background-slideshow::before,
.elementor-36 .elementor-element.elementor-element-1a57835>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: #000000;
}

.elementor-36 .elementor-element.elementor-element-1a57835,
.elementor-36 .elementor-element.elementor-element-1a57835::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-f6da19f {
    --display: flex;
    --gap: 49px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 260px;
    --padding-bottom: 260px;
    --padding-left: 150px;
    --padding-right: 150px;
}

.elementor-36 .elementor-element.elementor-element-99da8ee {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-a5e4b99 {
    text-align: left;
}

.elementor-36 .elementor-element.elementor-element-a5e4b99 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Times New Roman", Sans-serif;
    font-size: 83px;
    font-weight: 500;
    text-transform: capitalize;
}

.elementor-36 .elementor-element.elementor-element-a5e4b99>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-3817818 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-3817818,
.elementor-36 .elementor-element.elementor-element-3817818::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-99b4902 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 150px;
    --padding-right: 150px;
}

.elementor-36 .elementor-element.elementor-element-628e678 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 50px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-51be755 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-51be755.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-fcee8b9 {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-fcee8b9 .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Times New Roman", Sans-serif;
    font-size: 75px;
    font-weight: 500;
    text-transform: capitalize;
}

.elementor-36 .elementor-element.elementor-element-5f2bd1e {
    text-align: center;
    color: var(--e-global-color-91c60f7);
    font-family: "Times New Roman", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-5f2bd1e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-06c4ab4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-06c4ab4.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-625b0c7 {
    --swiper-slides-to-display: 3;
    --arrow-prev-left-align: 0%;
    --arrow-prev-translate-x: 0px;
    --arrow-prev-left-position: 15px;
    --arrow-prev-top-align: 50%;
    --arrow-prev-translate-y: -50%;
    --arrow-prev-top-position: -182px;
    --arrow-next-right-align: 0%;
    --arrow-next-translate-x: 0%;
    --arrow-next-right-position: 15px;
    --arrow-next-top-align: 50%;
    --arrow-next-translate-y: -50%;
    --arrow-next-top-position: -180px;
    --swiper-slides-gap: 0px;
    --arrow-size: 44px;
    --arrow-normal-color: var(--e-global-color-b798f1e);
}

.elementor-36 .elementor-element.elementor-element-625b0c7 .swiper-slide>.elementor-element {
    height: 100%;
}

.elementor-36 .elementor-element.elementor-element-625b0c7 :is(.elementor-swiper-button-prev, .elementor-swiper-button-next) {
    border-style: none;
}

.elementor-36 .elementor-element.elementor-element-7ffbb67 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: -100px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-7ffbb67,
.elementor-36 .elementor-element.elementor-element-7ffbb67::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-b54c49d {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 50px;
    --padding-left: 150px;
    --padding-right: 150px;
}

.elementor-36 .elementor-element.elementor-element-9ab72ea {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 50px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-0365ce5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-0365ce5.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-204c1b7 {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-204c1b7 .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: "Times New Roman", Sans-serif;
    font-size: 75px;
    font-weight: 500;
    text-transform: capitalize;
}

.elementor-36 .elementor-element.elementor-element-deeda3f {
    text-align: center;
    color: var(--e-global-color-91c60f7);
    font-family: "Times New Roman", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-deeda3f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-dc33d84 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-dc33d84.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-55b440a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 6px 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-55b440a:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-55b440a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-36 .elementor-element.elementor-element-55b440a:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-36 .elementor-element.elementor-element-55b440a,
.elementor-36 .elementor-element.elementor-element-55b440a::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-55b440a.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-c2fbbe9 img {
    border-radius: 10px 10px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2);
}

body.rtl .elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2);
}

body:not(.rtl) .elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2);
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-icon i {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-icon svg {
    fill: var(--e-global-color-text);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-423662f {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-icon {
    padding-right: 50px;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item>a {
    font-family: "Times New Roman", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-ccf28de {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 6px 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-ccf28de:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-ccf28de>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-36 .elementor-element.elementor-element-ccf28de:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-36 .elementor-element.elementor-element-ccf28de,
.elementor-36 .elementor-element.elementor-element-ccf28de::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-ccf28de.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-38e64b6 img {
    border-radius: 10px 10px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2);
}

body.rtl .elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2);
}

body:not(.rtl) .elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2);
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-icon i {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-icon svg {
    fill: var(--e-global-color-text);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-09ce1bf {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-icon {
    padding-right: 50px;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item>a {
    font-family: "Times New Roman", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-920fcf4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 6px 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-920fcf4:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-920fcf4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-36 .elementor-element.elementor-element-920fcf4:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-36 .elementor-element.elementor-element-920fcf4,
.elementor-36 .elementor-element.elementor-element-920fcf4::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-920fcf4.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-fe7d9ec img {
    border-radius: 10px 10px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2);
}

body.rtl .elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2);
}

body:not(.rtl) .elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2);
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-icon i {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-text);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-4ceef64 {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-icon {
    padding-right: 50px;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item>a {
    font-family: "Times New Roman", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-1e894d5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 6px 0px;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-1e894d5:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-1e894d5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-36 .elementor-element.elementor-element-1e894d5:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-36 .elementor-element.elementor-element-1e894d5,
.elementor-36 .elementor-element.elementor-element-1e894d5::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-1e894d5.e-con {
    --align-self: center;
}

.elementor-36 .elementor-element.elementor-element-9cbe5d9 img {
    border-radius: 10px 10px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2);
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2);
}

body.rtl .elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2);
}

body:not(.rtl) .elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2);
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-icon i {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-text);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-1b6c173 {
    --e-icon-list-icon-size: 18px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
    --icon-vertical-offset: 0px;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-icon {
    padding-right: 50px;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item>a {
    font-family: "Times New Roman", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-36 .elementor-element.elementor-element-1429bc1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --overlay-opacity: 0.45;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-1429bc1:not(.elementor-motion-effects-element-type-background),
.elementor-36 .elementor-element.elementor-element-1429bc1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F7F7F7;
    background-image: url("../../contact-us/2-1024x683-1.webp");
    background-position: center center;
    background-size: cover;
}

.elementor-36 .elementor-element.elementor-element-1429bc1::before,
.elementor-36 .elementor-element.elementor-element-1429bc1>.elementor-background-video-container::before,
.elementor-36 .elementor-element.elementor-element-1429bc1>.e-con-inner>.elementor-background-video-container::before,
.elementor-36 .elementor-element.elementor-element-1429bc1>.elementor-background-slideshow::before,
.elementor-36 .elementor-element.elementor-element-1429bc1>.e-con-inner>.elementor-background-slideshow::before,
.elementor-36 .elementor-element.elementor-element-1429bc1>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: var(--e-global-color-91c60f7);
}

.elementor-36 .elementor-element.elementor-element-1429bc1,
.elementor-36 .elementor-element.elementor-element-1429bc1::before {
    --border-transition: 0.3s;
}

.elementor-36 .elementor-element.elementor-element-0713a94 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: 150px;
    --padding-right: 150px;
}

.elementor-36 .elementor-element.elementor-element-ae69117 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-36 .elementor-element.elementor-element-76b7a9b {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-76b7a9b .elementor-heading-title {
    color: var(--e-global-color-b798f1e);
    font-family: "Aguafina Script", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.elementor-36 .elementor-element.elementor-element-b398c4d {
    text-align: center;
}

.elementor-36 .elementor-element.elementor-element-b398c4d .elementor-heading-title {
    color: var(--e-global-color-b798f1e);
    font-family: "Times New Roman", Sans-serif;
    font-size: 75px;
    font-weight: 500;
    text-transform: capitalize;
}

.elementor-36 .elementor-element.elementor-element-94be36a {
    text-align: center;
    color: #FFFFFF;
    font-family: "Times New Roman", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-94be36a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-icon i {
    color: var(--e-global-color-b798f1e);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-icon svg {
    fill: var(--e-global-color-b798f1e);
    transition: fill 0.3s;
}

.elementor-36 .elementor-element.elementor-element-5adabef {
    --e-icon-list-icon-size: 28px;
    --icon-vertical-offset: 0px;
}

.elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-item>a {
    font-family: "Times New Roman", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 28px;
}

.elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-text {
    color: var(--e-global-color-b798f1e);
    transition: color 0.3s;
}

.elementor-36 .elementor-element.elementor-element-5adabef>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-36 .elementor-element.elementor-element-380341e .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-36 .elementor-element.elementor-element-380341e .elementor-button {
    font-family: "Quando", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 1.2px;
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: var(--e-global-color-b798f1e);
    border-radius: 0px 0px 0px 0px;
    padding: 8px 30px 8px 30px;
}

.elementor-36 .elementor-element.elementor-element-380341e .elementor-button:hover,
.elementor-36 .elementor-element.elementor-element-380341e .elementor-button:focus {
    color: var(--e-global-color-b798f1e);
    background-color: var(--e-global-color-text);
}

.elementor-36 .elementor-element.elementor-element-380341e .elementor-button:hover svg,
.elementor-36 .elementor-element.elementor-element-380341e .elementor-button:focus svg {
    fill: var(--e-global-color-b798f1e);
}

.elementor-36 .elementor-element.elementor-element-380341e>.elementor-widget-container {
    padding: 25px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-36 .elementor-element.elementor-element-1a57835 {
        --margin-top: -28px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-f6da19f {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 150px;
        --padding-bottom: 150px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-36 .elementor-element.elementor-element-99da8ee {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-a5e4b99 .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-36 .elementor-element.elementor-element-3817818 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-99b4902 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 25px;
        --padding-bottom: 0px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-36 .elementor-element.elementor-element-628e678 {
        --gap: 25px 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-51be755 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-fcee8b9 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-36 .elementor-element.elementor-element-5f2bd1e {
        font-size: 16px;
    }

    .elementor-36 .elementor-element.elementor-element-06c4ab4 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-625b0c7 {
        --swiper-slides-to-display: 2;
    }

    .elementor-36 .elementor-element.elementor-element-625b0c7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-36 .elementor-element.elementor-element-7ffbb67 {
        --margin-top: -40px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-b54c49d {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 50px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-36 .elementor-element.elementor-element-9ab72ea {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-0365ce5 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-204c1b7 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-36 .elementor-element.elementor-element-deeda3f {
        font-size: 16px;
    }

    .elementor-36 .elementor-element.elementor-element-dc33d84 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-55b440a {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item>a {
        font-size: 17px;
        line-height: 27px;
    }

    .elementor-36 .elementor-element.elementor-element-ccf28de {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item>a {
        font-size: 17px;
        line-height: 27px;
    }

    .elementor-36 .elementor-element.elementor-element-920fcf4 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item>a {
        font-size: 17px;
        line-height: 27px;
    }

    .elementor-36 .elementor-element.elementor-element-1e894d5 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item>a {
        font-size: 17px;
        line-height: 27px;
    }

    .elementor-36 .elementor-element.elementor-element-1429bc1 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-0713a94 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 25px;
        --padding-right: 25px;
    }

    .elementor-36 .elementor-element.elementor-element-ae69117 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-b398c4d .elementor-heading-title {
        font-size: 50px;
    }

    .elementor-36 .elementor-element.elementor-element-94be36a {
        font-size: 16px;
    }

    .elementor-36 .elementor-element.elementor-element-5adabef {
        --e-icon-list-icon-size: 18px;
    }

    .elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-item>a {
        font-size: 19px;
        line-height: 27px;
    }

    .elementor-36 .elementor-element.elementor-element-380341e .elementor-button {
        font-size: 13px;
        line-height: 27px;
    }
}

@media(max-width:767px) {
    .elementor-36 .elementor-element.elementor-element-1a57835 {
        --margin-top: -165px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-f6da19f {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 180px;
        --padding-bottom: 100px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-36 .elementor-element.elementor-element-99da8ee {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-a5e4b99 {
        text-align: center;
    }

    .elementor-36 .elementor-element.elementor-element-a5e4b99 .elementor-heading-title {
        font-size: 25px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-3817818 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-99b4902 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 25px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-36 .elementor-element.elementor-element-628e678 {
        --gap: 20px 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-51be755 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-fcee8b9 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-36 .elementor-element.elementor-element-5f2bd1e {
        text-align: justify;
        font-size: 16px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-06c4ab4 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-625b0c7 {
        --swiper-slides-to-display: 1;
    }

    .elementor-36 .elementor-element.elementor-element-625b0c7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-36 .elementor-element.elementor-element-7ffbb67 {
        --margin-top: -100px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-b54c49d {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 50px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-36 .elementor-element.elementor-element-9ab72ea {
        --gap: 20px 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-0365ce5 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-204c1b7 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-36 .elementor-element.elementor-element-deeda3f {
        text-align: justify;
        font-size: 16px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-dc33d84 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-55b440a {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-423662f .elementor-icon-list-item>a {
        font-size: 16px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-ccf28de {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-09ce1bf .elementor-icon-list-item>a {
        font-size: 16px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-920fcf4 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-4ceef64 .elementor-icon-list-item>a {
        font-size: 16px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-1e894d5 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-1b6c173 .elementor-icon-list-item>a {
        font-size: 16px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-1429bc1 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-0713a94 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 020px;
        --padding-right: 20px;
    }

    .elementor-36 .elementor-element.elementor-element-ae69117 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-36 .elementor-element.elementor-element-b398c4d .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-36 .elementor-element.elementor-element-94be36a {
        text-align: center;
        font-size: 15px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-5adabef {
        --e-icon-list-icon-size: 15px;
    }

    .elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-36 .elementor-element.elementor-element-5adabef .elementor-icon-list-item>a {
        font-size: 18px;
        line-height: 26px;
    }

    .elementor-36 .elementor-element.elementor-element-380341e .elementor-button {
        font-size: 12px;
        line-height: 26px;
        padding: 4px 16px 4px 15px;
    }
}

@media(min-width:768px) {
    .elementor-36 .elementor-element.elementor-element-1a57835 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-f6da19f {
        --content-width: 1440px;
    }

    .elementor-36 .elementor-element.elementor-element-99da8ee {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-3817818 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-99b4902 {
        --content-width: 1440px;
    }

    .elementor-36 .elementor-element.elementor-element-628e678 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-51be755 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-06c4ab4 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-7ffbb67 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-b54c49d {
        --content-width: 1440px;
    }

    .elementor-36 .elementor-element.elementor-element-9ab72ea {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-0365ce5 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-dc33d84 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-55b440a {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-ccf28de {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-920fcf4 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-1e894d5 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-1429bc1 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-0713a94 {
        --content-width: 1440px;
    }

    .elementor-36 .elementor-element.elementor-element-ae69117 {
        --width: 100%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-36 .elementor-element.elementor-element-1a57835 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-f6da19f {
        --content-width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-99da8ee {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-3817818 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-99b4902 {
        --content-width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-628e678 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-51be755 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-06c4ab4 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-7ffbb67 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-b54c49d {
        --content-width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-9ab72ea {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-0365ce5 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-dc33d84 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-55b440a {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-ccf28de {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-920fcf4 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-1e894d5 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-1429bc1 {
        --width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-0713a94 {
        --content-width: 100%;
    }

    .elementor-36 .elementor-element.elementor-element-ae69117 {
        --width: 100%;
    }
}

@media(min-width:1025px) {

    .elementor-36 .elementor-element.elementor-element-1429bc1:not(.elementor-motion-effects-element-type-background),
    .elementor-36 .elementor-element.elementor-element-1429bc1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}